*{
    line-height: 1.2;
}
.code {
    font-family: 'Fira Code', monospace;
}
.v-expansion-panel-title{
    padding: .75em .75em !important;
    min-height: 2em !important;
}

.v-list{
    padding: 0em !important;
}

.scroll-section {
  scroll-margin-top: 80px;
}